{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

  <div id="ebayTime">
	<h3>Ebay time is {{ ebay_time|date('Y-m-d H:i:s') }} </h3>
	<p>Random message of the day{{ rand_message }}</p>
  </div>
</div>
{% endblock %}
