
#logo-1{
font-family: 'Pacifico', cursive;
font-size: 10em;
}

#logo-2{
font-family: 'Pacifico', cursive;
font-size: 7.5em;
}

#logo-3{
font-family: 'Pacifico', cursive;
font-size: 5em;
}

#logo-4{
font-family: 'Pacifico', cursive;
font-size: 2.5em;
}

#logo-5{
font-family: 'Pacifico', cursive;
font-size: 1.5em;
}

.watch {
background-image: url('../bundles/app/images/watch_bg.jpg');
background-size: cover;
color:#ffffff;
padding-top: 20%;
padding-bottom: 20%;
border-radius: 0;
}